PolicyList.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:element name="mil.navy.nrl.cmf.policy.PolicyList" type="mil.navy.nrl.cmf.policy.PolicyList" nillable="true"/><xsd:complexType name="mil.navy.nrl.cmf.policy.PolicyList"><xsd:complexContent><xsd:extension base="java.util.Collection"/></xsd:complexContent></xsd:complexType><xsd:complexType name="java.util.Collection"><xsd:sequence><xsd:element name="cel" minOccurs="0" maxOccurs="unbounded" type="xsd:anyType" nillable="true"/></xsd:sequence></xsd:complexType></xsd:schema>