PolicyElement.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:element name="mil.navy.nrl.cmf.policy.PolicyElement" type="mil.navy.nrl.cmf.policy.PolicyElement" nillable="true"/><xsd:complexType name="mil.navy.nrl.cmf.policy.PolicyElement"><xsd:complexContent><xsd:extension base="java.lang.Object"><xsd:sequence><xsd:element name="_identities" type="java.util.List" nillable="true" minOccurs="0"/><xsd:element name="_results" type="java.util.List" nillable="true" minOccurs="0"/></xsd:sequence></xsd:extension></xsd:complexContent></xsd:complexType><xsd:complexType name="java.lang.Object"><xsd:attribute name="id" type="xsd:ID"/><xsd:attribute name="reference" type="xsd:IDREF"/></xsd:complexType><xsd:complexType name="java.util.List"><xsd:complexContent><xsd:extension base="java.util.Collection"/></xsd:complexContent></xsd:complexType><xsd:complexType name="java.util.Collection"><xsd:sequence><xsd:element name="cel" minOccurs="0" maxOccurs="unbounded" type="xsd:anyType" nillable="true"/></xsd:sequence></xsd:complexType></xsd:schema>